<div class="formulario-um">

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">
      <span class="cpf-cnpj">CNPJ/CPF</span>
      <img class="estrela-um" src="../../../../../assets/estrela.png" alt="estrela">
    </label>

    <input type="text" class="input-cpf-cnpj form-control" placeholder="00.000.000/0000-00"
    [(ngModel)]="identificacao" disabled="{{desabilatar}}">
    <p class="msgAviso" *ngIf="showMsgValidacao">{{ msgAviso }}</p>
  </div>

  <div class="mb-3 data" *ngIf="showDataCriacao">
    <label for="formGroupExampleInput" class="form-label">Data de cadastro</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="27/11/2023" disabled>
  </div>

</div>



<div class="formulario-dois">

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">
      <span class="cpf-cnpj">Nome</span>
      <img class="estrela-um" src="../../../../../assets/estrela.png" alt="estrela">
    </label>

    <input type="text" class="input-nome form-control" id="formGroupExampleInput" placeholder="Insira o nome do cliente"
    [(ngModel)]="nome">
    <p class="msgAviso" *ngIf="showMsgValidacaoNome">{{ msgAvisoNome }}</p>
  </div>

  <div class="mb-3" *ngIf="showNomeIdentificacao">
    <label for="formGroupExampleInput" class="form-label">
      <span class="cpf-cnpj">{{ msgInputIdentificacao }}</span>
      <img class="estrela-um" src="../../../../../assets/estrela.png" alt="estrela">
    </label>

    <input type="text" class="input-nome-fantasia form-control" id="formGroupExampleInput" placeholder="Insira o nome fantasia do CNPJ">
  </div>

</div>

<div class="formulario-tres">

  <div class="mb-3" *ngIf="showInscricaoMunicipal">
    <label for="formGroupExampleInput" class="form-label">
      <span class="cpf-cnpj">Inscrição Municipal</span>
      <img class="estrela-um" src="../../../../../assets/estrela.png" alt="estrela">
    </label>

    <input type="text" class="input-municipio form-control" id="formGroupExampleInput">
  </div>

  <div class="mb-3" *ngIf="showInscricaoEstadual">
    <label for="formGroupExampleInput" class="form-label">
      <span class="cpf-cnpj">Inscrição Estadual</span>
      <img class="estrela-um" src="../../../../../assets/estrela.png" alt="estrela">
    </label>

    <input type="text" class="input-estado form-control" id="formGroupExampleInput">
  </div>

</div>

<div class="botoes">
  <button type="button" class="cancelar btn btn-light" (click)="cancelar()">Cancelar</button>
  <button type="button" class="salvar btn btn-primary" (click)="criarCliente()">Salvar cliente</button>
</div>

