p, label {
  color: white;
}

.formulario-um {
  margin-top: 0;
  margin-left: 20px;
  display: flex;
}

.formulario-dois, .formulario-tres {
  display: flex;
  margin-left: 20px;
}

.estrela-um {
  margin-top: -2px;
  margin-left: 5px;
}

.data {
  margin-left: 20px;
}

.input-nome, .input-nome-fantasia, .input-municipio, .input-estado {
  margin-right: 200px;
  width: 95%;
}

.botoes {
  margin-top: 350px;
  margin-left: 810px;
}

.cancelar {
  margin-right: 8px;
}

.btn {
  word-wrap: break-word;
  white-space: nowrap;
}

.msgAviso {
  margin-bottom: 0;
  padding-bottom: 0;
  color: red;
}
