<div class="global">
  <div class="cabecalho-formularios">

    <div class="cabecalho">
      <!-- Título -->
      <h3 class="titulo">Localização</h3>

      <!-- A linha -->
      <hr>

      <!-- A msg campo e o ícone da estrela -->
      <p class="campos">
        <img class="estrela" src="../../../../assets/estrela.png" alt="">
        <span class="mensagem">Campos obrigatórios</span>
      </p>

    </div>

    <div class="formularios">

      <div class="enderecos">

        <div class="cabecalho-endereco">
          <h6 class="titulo-enderecos">Endereços</h6>

          <hr class="linha-endereco">
        </div>

        <a class="add-enderecos">+ Adicionar endereços</a>

        <div class="cards-enderecos">

          <div class="card-endereco-global" *ngFor="let i of meuArray">

            <div class="informacoes-enderecos">
              <p class="texto-endereco">
                {{ i.endereco }}
              </p>
            </div>

            <div class="endereco-principal" *ngIf="i.isPrincipal">
              <span class="texto-endereco-principal badge text-bg">Endereço principal</span>
            </div>

            <hr class="linha-separador-endereco" *ngIf="i.isPrincipal">
            <hr class="linha-separador-endereco-dois" *ngIf="!i.isPrincipal">

            <div class="icones-enderecos" *ngIf="i.isPrincipal">

              <div class="icone-editar-endereco">
                <img src="../../../../../assets/editar.png" alt="editar-endereco">
              </div>

              <div>
                <img src="../../../../../assets/deletar.png" alt="editar-endereco">
              </div>

            </div>


            <div class="icones-enderecos-dois" *ngIf="!i.isPrincipal">

              <div class="icone-editar-endereco">
                <img src="../../../../../assets/editar.png" alt="editar-endereco">
              </div>

              <div>
                <img src="../../../../../assets/deletar.png" alt="editar-endereco">
              </div>

            </div>

          </div> <!-- Final card-endereco-global -->

        </div> <!-- Final cards-enderecos -->

      </div> <!-- Final enderecos -->


      <!-- ======================== Telefones ========================== -->
      <div class="telefones"></div>

      <div class="emails"></div>

    </div>


  </div> <!-- Final cabecalho-formularios -->

  <!-- ================== Aqui fica o menu de navegação =======================-->
  <div class="menu">
    <div class="navegacao">

      <!-- Linha barra nevegação -->
      <div class="linha d-flex">
        <div class="vr"></div>
      </div>
    </div>

    <div class="opcoes-rotas">
      <p><a class="link" routerLink="/clientes/criar/formulario">Dados cadastrais</a></p>
      <p class="selecionar"><a class="link-ativo" routerLink="/clientes/criar/localizacao">Localização</a></p>
      <p><a class="link" routerLink="/clientes/criar/representantes">Representantes</a></p>
    </div>

  </div> <!-- Final menu -->

</div> <!-- Final global -->
