// Mensagem Cadastrar
.msgcadastrar {
  background-color: #212529;
  width: 60%;
  height: 75%;
  position: absolute;
  z-index: 100;
  top: 20%;
  left: 20%;
  opacity: 1;
  border-radius: 8px;
}

.cabecalho-msg-cadastrar {
  display: flex;
}

.imagemAdicionar {
  margin: 3% 0 0 3%;
  align-items: center;
}

.circulo {
  background-color: #0D6CF2;
  border-radius: 100%;
  padding: 100%;
  display: block;
}

.simbolo-add {
  background-color: #212529;
  padding: 35%;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: -340%;
}

.msg-de-cadastro {
  margin-top: 4%;
  margin-left: 4%;
}

.linha-do-cadastro {
  width: 42%;
  margin-top: 3.3%;
  margin-right: 0;
}

.linha-cadastro {
  width: 100%;
}

.campo-obrigatorio-cadastro {
  width: 20%;
  display: flex;
  margin-top: 4%;
  margin-left: 3%;
  padding-right: 0;
}

.imagem-estrela-cadastro {
  margin-right: 5%;
  height: 14px;
  width: 12px;
}

.msg-campo-obrigatorio-cadastro {
  color: #FFFFFF;
  white-space: nowrap;
  margin-top: 1%;
}

.imagem-fechar-cadastro {
  width: 110%;
  height: 33%;
}

.fechar-cadastro {
  cursor: pointer;
  margin-top: 4%;
  margin-left: 4%;
}

.formulário-cadastro-geral {
  margin-bottom: 0;
  margin-top: -20px;
}

// CEP

.cep-logradouro-geral {
  margin-top: 2%;
  display: flex;
}

.cep {
  width: 30%;
  margin-left: 4%;
}

.campo-obrigatorio-cep {
  display: flex;
  margin-bottom: 0;
}

.estrela-cep {
  width: 5%;
  height: 2%;
  margin-top: 2.8%;
  margin-left: 2%;
}

.input-cep {
  margin-top: -8px;
}

// Logradouro

.logradouro {
  width: 58%;
  margin-left: 4%;
}

.campo-obrigatorio-logradouro {
  display: flex;
  margin-bottom: 0;
}

.estrela-logradouro {
  width: 2.7%;
  height: 1.4%;
  margin-top: 1.8%;
  margin-left: 2%;
}

.input-logradouro {
  margin-top: -8px;
}

// Número

.numero-complemento-geral {
  margin-top: 2%;
  display: flex;
}

.numero {
  width: 30%;
  margin-left: 4%;
}

.campo-obrigatorio-numero {
  display: flex;
  margin-bottom: 0;
}

.estrela-numero {
  width: 5%;
  height: 2%;
  margin-top: 3%;
  margin-left: 2%;
}

.input-numero {
  margin-top: -8px;
}

// Complemento

.complemento {
  width: 58%;
  margin-left: 4%;
}

.campo-obrigatorio-complemento {
  display: flex;
  margin-bottom: 0;
}

.estrela-complemento {
  width: 2.7%;
  height: 1.4%;
  margin-top: 1.5%;
  margin-left: 2%;
}

.input-complemento {
  margin-top: -8px;
}

// Bairro

.bairro-cidade-estado-geral {
  margin-top: 2%;
  display: flex;
}

.bairro {
  width: 30%;
  margin-left: 4%;
}

.campo-obrigatorio-bairro {
  display: flex;
  margin-bottom: 0;
}

.estrela-bairro {
  width: 5%;
  height: 2%;
  margin-top: 3%;
  margin-left: 2%;
}

.input-bairro {
  margin-top: -8px;
}

// Cidade

.cidade {
  width: 27%;
  margin-left: 4%;
}

.campo-obrigatorio-cidade {
  display: flex;
  margin-bottom: 0;
}

.estrela-cidade {
  width: 5.7%;
  height: 1.4%;
  margin-top: 3.7%;
  margin-left: 2%;
}

.input-cidade {
  margin-top: -8px;
}

// Estado

.estado {
  width: 27%;
  margin-left: 4%;
}

.campo-obrigatorio-estado {
  display: flex;
  margin-bottom: 0;
}

.estrela-estado {
  width: 5.7%;
  height: 1.4%;
  margin-top: 3.7%;
  margin-left: 2%;
}

.input-estado {
  margin-top: -8px;
}

// Botões de salvar endereço

.botoes-cadastrar-endereco-geral {
  display: flex;
  margin-top: 8%;
  margin-left: 76%;
}

.cancelar-cadastro-endereco {
  margin-right: 6%;
}


//================================ Menu global =============================
//==========================================================================


//*********************************** Geral ********************************

p, div, hr {
  color: white;
}

.principal {
  display: flex;
}

//********************************* Cabeçalho *******************************

.cabecalho {
  display: flex;
  margin-top: 0;
  margin: 20px 0 0 20px;
  color: white;
}

.hr-primeira-linha {
  color: beige;
  margin-top: 20px;
  margin-left: 8px;
  width: 729px;
  // width: 450px;
}

.campos {
  color: #6C757D;
  margin-top: 7px;
  display: flex;
}

.estrela {
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 2px;
  height: 14px;
  width: 12px;
}

.mensagem {
  padding-top: 0px;
}

.cabecalho-enderecos {
  display: flex;
  margin-left: 20px;
}

.linha-endereco {
  width: 800px;
  margin-top: 12px;
  margin-left: 8px;
}

.seta-down {
  width: 18px;
  height: 18px;
  margin: 6px 0 0 5px;
  cursor: pointer;
}

.col {
  display: flex;
}

.card-enderecos {
  margin-left: 8px;
}


//********************************* Menu de navegação *************************

.menu-navegacao {
  margin-left: 12px;
  margin-top: -45px
}

.menu-cadastro {
  display: flex;
  margin-left: 10px;
}

.linha {
  color: white;
  height: 766px;
  margin-right: 0px;
  margin-top: -1px;
}

.opcoes-rotas {
  margin-top: 20px;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: #6C757D;
}

.selecionar {
  border-left: solid 5px #0D6CF2;
}

.link {
  margin-left: 35px;
}

.link-ativo {
  margin-left: 30px;
  color: #0D6CF2;
  font-size: 16px;
  font-weight: 600;
}


//==========================================================================

//=============================== Botões da Página ==========================

.botoes-operacoes-global {
  width: 30%;
  margin: 20% 0 2% 70%;
  padding-left: 5.1%;
  display: flex;
}

.cancelar-global {
  margin-right: 20px;
}
