<div class="identificacao-e-data">
  <div class="identificacao mb-3">
    <div class="cabecalho">
      <p>CNPJ/CPF</p>
    </div>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="09.096.703/0001-30"
      disabled
    />
  </div>

  <div class="data mb-3">
    <div class="cabecalho">
      <p>Data de cadastro</p>
    </div>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="01/06/2023"
      disabled
    />
  </div>
</div>
