<div class="global">
  <div class="endereco-global">
    <div class="endereco">
      <h6>Endereços</h6>

      <div class="linha-um">
        <hr />
      </div>

      <div class="seta">
        <svg
          width="14"
          height="8"
          viewBox="0 0 14 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.4375 0.15625C13.5833 0.28125 13.6562 0.4375 13.6562 0.625C13.6771 0.8125 13.625 0.979167 13.5 1.125L7.59375 7.71875C7.42708 7.90625 7.22917 8 7 8C6.77083 8 6.57292 7.90625 6.40625 7.71875L0.5 1.125C0.375 0.979167 0.3125 0.8125 0.3125 0.625C0.333333 0.4375 0.416667 0.28125 0.5625 0.15625C0.6875 0.0520833 0.84375 0.0104167 1.03125 0.03125C1.21875 0.03125 1.375 0.09375 1.5 0.21875L7 6.40625L12.5 0.21875C12.625 0.09375 12.7812 0.03125 12.9688 0.03125C13.1562 0.0104167 13.3125 0.0520833 13.4375 0.15625Z"
            fill="#CED4DA"
          />
        </svg>
      </div>
    </div>

    <div class="itens-endereco">
      <a>+ Adicionar endereço</a>

      <div class="enderecos-cliente">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Assumenda pariatur dolor expedita officia impedit odit obcaecati
              esse quis aliquam dicta!
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="telefone"></div>
  <div class="email"></div>
</div>
